@import url("../../../../variables/Variables.module.css");

.wordcontainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--color-darkblue);
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
}
.wordCard {
  width: 100%;
  gap: 20px;
  display: flex;
  // background: green;
}
.optionalWrapper {
  width: 100%;
  display: flex;
  gap: 40px;
  align-items: flex-end;
  .optionalContainer {
    background: red;
  }
}

.wordImage {
  // min-width: 300px;
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.wordInfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.wordItem {
  display: flex;
  align-items: center;
  gap: 20px;
}

.word {
  font-family: "Montserrat-Bold";
  font-size: 30px;
  color: var(--color-blue);
}

.wordTranscription,
.wordTranslate {
  font-family: "Montserrat-Regular";
  font-size: 20px;
  color: var(--color-white);
}

.wordSubinfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.wordText,
.wordTextTranslate {
  font-family: "Montserrat-Regular";
  font-size: 15px;
  color: var(--color-white);
}

.wordTextTranslate {
  color: var(--color-gray);
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  box-sizing: border-box;
}

.playBtn {
  height: 100px;
  width: 100px;
  cursor: pointer;
  transition: 1s;
}

.playBtn:hover {
  filter: brightness(60%);
}

.buttonsHardness {
  display: flex;
  width: 250px;
  gap: 20px;

  button {
    width: 50%;
  }
}

/* CUSTOM-BUTTON-START */

.btnHard,
.btnLearned {
  font-family: "Montserrat-Bold";
  font-size: 16px;
  text-transform: uppercase;
  background: var(--color-blue);
}

.btnHardActive {
  background: red;
}

.btnLearnedActive {
  background: green;
}

.progress {
  height: 30px;
  width: 30px;
}

.progressItem {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.progressTitle {
  font-family: "Montserrat-Regular";
  font-size: 16px;
  color: var(--color-white);
}
