.auth-form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  gap: 15px;
  @media screen and (min-width: 400px) {
    justify-content: center;
  }
  padding-top: 100px;
  height: calc(100vh - 180px);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url(../assets/img/main_background.jpg);
  background-position: center;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}

.auth-form-btn {
  display: flex;
  height: 20px;
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 10px;
  font-family: "Montserrat-Regular";
  color: var(--color-white);
  background-color: var(--color-blue);
  cursor: pointer;
  transition: 1s;
}

.auth-form-btn:hover {
  color: var(--color-white);
  background-color: var(--color-darkblue);
}
