@import url("../../../../variables/Variables.module.css");

.itemcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: var(--color-gray);
  border-radius: 10px;
  font-family: "Montserrat-Bold";
  font-size: 14px;
  color: var(--color-white);
  transition: 1s;
  cursor: pointer;
}

.itemcontainer:hover {
  background-color: var(--color-blue);
}

@media (max-width: 1280px) {
  .itemcontainer {
    min-width: 90px;
    padding: 10px 0;
    font-size: 12px;
  }
}

@media (max-width: 650px) {
  .itemcontainer {
    min-width: 60px;
    padding: 10px 0;
    font-size: 10px;
  }
}
