@import url("../../variables/Variables.module.css");

.mainNav,
.mainNavActive {
  z-index: 20;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  box-sizing: border-box;
}
.mainNavActive {
  background-color: var(--color-darkblue);
}

.mainNavContainer {
  height: 50px;
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.mainNavLinks {
  display: flex;
  height: 100%;
  gap: 50px;

  li {
    display: flex;
    gap: 20px;
    border-radius: 10px;

    button {
      border-radius: 10px;
      transition: 1s;
    }

    button:hover {
      color: var(--color-white);
      background: var(--color-darkblue);
    }
  }
}

.mainNav li,
.mainNavActive li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat-Bold";
  font-size: 18px;
  color: var(--color-white);
  text-transform: uppercase;
  transition: 1s;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

.mainNav li:hover .mainNavActive li:hover {
  color: var(--color-blue);
}

.logoContainer {
  height: 50px;
}

.logoContainer img {
  height: 50px;
  transition: 1s;
}

.logoContainer img:hover {
  filter: contrast(150%);
}

.mainTitle {
  z-index: 10;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .mainNavContainer {
    padding: 0 20px;
  }

  .mainNavLinks {
    li {
      font-size: 12px;
    }
    gap: 10px;
  }

  .logoContainer {
    display: none;
  }
}
